// From https://www.outsystems.com/blog/css-vertical-align.html

body {
    height: 100vh;
    margin: 0;
    position: relative;
}

.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
}

.box-content {
    background: #ffffff;
    // color: #fff;
    padding: 20px;
}
